body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #2c3e50;
}

.formulario, .busqueda, .lista {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #aaa;
}

input {
    margin: 5px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2c3e50;
    color: white;
}
